mixin professions-list-alternative()
  .professions-list
    .professions-list__swiper.swiper
      ul.professions-list-alternative.professions__card-list.swiper-wrapper.professions-list__swiper-wrapper
        li.professions-list-alternative__item.swiper-slide.professions-list__slide
          a.profession-card.profession-card--design(href="#" target=blank)
            header.profession-card__header
              .profession-card__icon-wrapper
                img(src="/img/content/profession-1-icon.png", alt="#", width=55, height=55)
              h3.profession-card__name
                |  Дизайн
            .profession-card__main
              .profession-card__rows-wrapper
                p.profession-card__row
                  span Web-дизайн
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Дизайн интерьеров
                p.profession-card__row
                  span 3D-моделирование
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Motion-дизайн
                p.profession-card__row
                  span Графический дизайн
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span 3D-анимация
                p.profession-card__row
                  span UX/UI дизайн
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span ArchiCAD
                p.profession-card__row
                  span Геймдизайн
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Adobe After Effects
        li.professions-list-alternative__item.swiper-slide.professions-list__slide
          a.profession-card.profession-card--programming(href="#" target=blank)
            header.profession-card__header
              .profession-card__icon-wrapper
                img(src="/img/content/profession-2-icon.png", alt="#", width=55, height=55)
              h3.profession-card__name
                |  Программирование
            .profession-card__main
              .profession-card__rows-wrapper
                p.profession-card__row
                  span Web-разработка
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span DevOps
                p.profession-card__row
                  span JavaScript-разработка
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span ReactJS
                p.profession-card__row
                  span Мобильная разработка
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span GIT
                p.profession-card__row
                  span Системное администрирование
                p.profession-card__row
                  span Верстка на HTML/CSS
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Unity
        li.professions-list-alternative__item.swiper-slide.professions-list__slide
          a.profession-card.profession-card--management(href="#" target=blank)
            header.profession-card__header
              .profession-card__icon-wrapper
                img(src="/img/content/profession-3-icon.png", alt="#", width=55, height=55)
              h3.profession-card__name
                | Менеджмент
            .profession-card__main
              .profession-card__rows-wrapper
                p.profession-card__row
                  span Product-менеджмент
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Личностный рост
                p.profession-card__row
                  span Управление разработкой и IT
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span AGILE
                p.profession-card__row
                  span Бренд-менеджмент
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Запуск стартапов
                p.profession-card__row
                  span Финансовая аналитика
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Бухгалтерия
                p.profession-card__row
                  span Управление в SMM
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span IT-рекрутмент
        li.professions-list-alternative__item.swiper-slide.professions-list__slide
          a.profession-card.profession-card--analytics(href="#" target=blank)
            header.profession-card__header
              .profession-card__icon-wrapper
                img(src="/img/content/profession-4-icon.png", alt="#", width=55, height=55)
              h3.profession-card__name
                | Аналитика
            .profession-card__main
              .profession-card__rows-wrapper
                p.profession-card__row
                  span Data Science
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Продуктовая аналитика
                p.profession-card__row
                  span Web-аналитика
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Системная аналитика
                p.profession-card__row
                  span Бизнес-аналитика
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Аналитика на R
                p.profession-card__row
                  span Работа с Excel и Google таблицами
                p.profession-card__row
                  span Машинное обучение
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Нейронные сети
        li.professions-list-alternative__item.swiper-slide.professions-list__slide
          a.profession-card.profession-card--marketing(href="#" target=blank)
            header.profession-card__header
              .profession-card__icon-wrapper
                img(src="/img/content/profession-5-icon.png", alt="#", width=55, height=55)
              h3.profession-card__name
                | Маркетинг
            .profession-card__main
              .profession-card__rows-wrapper
                p.profession-card__row
                  span Web-аналитика
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span SMM-продвижение
                p.profession-card__row
                  span Интернет-маркетинг
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span PR-менеджмент
                p.profession-card__row
                  span SEO-продвижение
                    svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Копирайтинг
                p.profession-card__row
                  span Контент-маркетинг
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span SERM и репутация
                p.profession-card__row
                  span Маркетинговая аналитика
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Google Ads
        li.professions-list-alternative__item.swiper-slide.professions-list__slide
          a.profession-card.profession-card--finance(href="#" target=blank)
            header.profession-card__header
              .profession-card__icon-wrapper
                img(src="/img/content/profession-6-icon.png", alt="#", width=55, height=55)
              h3.profession-card__name
                | Финансы
            .profession-card__main
              .profession-card__rows-wrapper
                p.profession-card__row
                  span Web-аналитика
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span SMM-продвижение
                p.profession-card__row
                  span Интернет-маркетинг
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span PR-менеджмент
                p.profession-card__row
                  span SEO-продвижение
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Копирайтинг
                p.profession-card__row
                  span Контент-маркетинг
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span SERM и репутация
                p.profession-card__row
                  span Маркетинговая аналитика
                  svg(width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href!="./img/sprite.svg#star-6")
                  span Google Ads
      .professions__swiper-buttons-container.swiper-buttons-container
        .swiper-button-prev.professions__swiper-button.professions__swiper-button--prev
        .swiper-button-next.professions__swiper-button.professions__swiper-button--next
