mixin school-rating(value, options={})
  - const showPoints = options.showPoints ? options.showPoints : false;
    if showPoints
      .school-rating&attributes(attributes)
        .school-rating__wrapper
          span.school-rating__stars!= value.stars
          span!= value.rating
        span.school-rating__title!= value.platform
    else
      .school-rating.school-rating--no-points&attributes(attributes)
        span.school-rating__title!=value.platform
        span.school-rating__stars!=value.stars
